
# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
env/
venv/
.ipynb_checkpoints/

# Data / Outputs
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/jsonl/*
!outputs/jsonl/.gitkeep
outputs/tables/*
!outputs/tables/.gitkeep

# VSCode / IDE
.vscode/
.idea/

# Misc
*.log
*.tmp
